@page "/settings"
@using EnigmaModel
@using System.ComponentModel.DataAnnotations
@inject IEnigmaService enigmaService
@rendermode InteractiveAuto


<PageTitle>Engima Encryption</PageTitle>


<h1 class="text-center fw-bold text-light">Settings</h1>
<h2 class="text-light fw-bold">Rotars:</h2>
<p class="text-light fw-bold">RotarI: [I, B, L, E, S, K, C, O, T, Z, N, T, O, W, Y, H, X, V, J, Q, A, E, B, R, G, L] </p>
<p class="text-light fw-bold">RotarII: [E, B, O, H, C, L, R, O, J, A, S, M, Q, Y, X, U, I, Z, W, T, G, V, K, D, N, E]</p>
<p class="text-light fw-bold">RotarIII: [O, D, Y, T, N, G, W, R, B, U, E, L, S, A, F, K, R, I, N, P, A, Y, V, K, C, I]</p>
<p class="text-light fw-bold">RotarIV: [Y, N, T, D, R, X, C, K, E, V, O, B, H, P, W, G, L, U, A, K, F, M, I, Q, A, T]</p>
<p class="text-light fw-bold">RotarV: [V, Z, I, J, L, M, N, X, F, Y, K, W, G, H, O, P, Q, R, S, T, U, A, B, C, D, E]</p>

<h2 class="fw-bold text-light">Options:</h2>


<div class="pb-5">
    <p class="text-light fw-bold">Selected Rotars:</p>
    <div class="bg-secondary rounded p-2" style="width:400px">
        <div class="d-flex">
            <p class="pe-4 fw-bold">First Rotar: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar1" ValueChanged="selectedvalue => HandleRotarChange(selectedvalue, 0)" ValueExpression="@(()=>rotar1)">
                <option value="0">RotarI</option>
                <option value="1">RotarII</option>
                <option value="2">RotarIII</option>
                <option value="3">RotarIV</option>
                <option value="4">RotarV</option>
            </InputSelect>
        </div>
        <div class="d-flex mt-2">
            <p class="fw-bold pe-4">Starting position: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar1Position" ValueChanged="selectedvalue => HandleRotarPositionChange(selectedvalue,0)" ValueExpression="@(()=>rotar1Position)">
                @for (int i = 0; i <26; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
        <div class="d-flex mt-2">
            <p class="fw-bold pe-4">Notch position: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar1Notch" ValueChanged="selectedvalue=>HandleRotarNotchChange(selectedvalue,0)" ValueExpression="@(()=>rotar1Notch)">
                @for (int i = 0; i < 26; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
    </div>
     <div class="bg-secondary rounded p-2 mt-4" style="width:400px">
        <div class="d-flex">
            <p class="pe-4 fw-bold">Second Rotar: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar2" ValueChanged="selectedvalue => HandleRotarChange(selectedvalue, 1)" ValueExpression="@(()=>rotar2)">
                <option value="0">RotarI</option>
                <option value="1" selected>RotarII</option>
                <option value="2">RotarIII</option>
                <option value="3">RotarIV</option>
                <option value="4">RotarV</option>
            </InputSelect>
        </div>
        <div class="d-flex mt-2">
            <p class="fw-bold pe-4">Starting position: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar2Position" ValueChanged="selectedvalue => HandleRotarPositionChange(selectedvalue,1)" ValueExpression="@(()=>rotar2Position)">
                @for (int i = 0; i < 26; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
        <div class="d-flex mt-2">
            <p class="fw-bold pe-4">Notch position: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar2Notch" ValueChanged="selectedvalue=>HandleRotarNotchChange(selectedvalue,1)" ValueExpression="@(()=>rotar2Notch)">
                @for (int i = 0; i < 26; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="bg-secondary rounded p-2 mt-4" style="width:400px">
        <div class="d-flex">
            <p class="pe-4 fw-bold">Third Rotar: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar3" ValueChanged="selectedvalue => HandleRotarChange(selectedvalue, 2)" ValueExpression="@(()=>rotar3)">
                <option value="0">RotarI</option>
                <option value="1">RotarII</option>
                <option value="2" selected>RotarIII</option>
                <option value="3">RotarIV</option>
                <option value="4">RotarV</option>
            </InputSelect>
        </div>
        <div class="d-flex mt-2">
            <p class="fw-bold pe-4">Starting position: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar3Position" ValueChanged="selectedvalue => HandleRotarPositionChange(selectedvalue,2)" ValueExpression="@(()=>rotar3Position)">
                @for (int i = 0; i < 26; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
        <div class="d-flex mt-2">
            <p class="fw-bold pe-4">Notch position: </p>
            <InputSelect class="form-select" style="width:200px" TValue="int" Value="rotar3Notch" ValueChanged="selectedvalue=>HandleRotarNotchChange(selectedvalue,2)" ValueExpression="@(()=>rotar3Notch)">
                @for (int i = 0; i < 26; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
    </div> 
    <div class="mt-5">
        <p class="text-light fw-bold">Reflectors:</p>
        <p class="text-light fw-bold">ReflectorA: [E,J,M,Z,A,L,Y,X,V,B,W,F,C,R,Q,U,O,N,T,S,P,I,K,H,G,D] </p>
        <p class="text-light fw-bold">ReflectorB: [Y,R,U,H,Q,S,L,D,P,X,N,G,O,K,M,I,E,B,F,Z,C,W,V,J,A,T] </p>
        <p class="text-light fw-bold">ReflectorC: [F,V,P,J,I,A,O,Y,E,D,R,Z,X,W,G,C,T,K,U,Q,S,B,N,M,H,L] </p>
        <InputSelect class="form-select" style="width:200px" TValue="int" Value="reflector" ValueChanged="selectedvalue => HandleReflectorChange(selectedvalue)" ValueExpression="@(()=>reflector)">
            <option value="0" selected>ReflectorA</option>
            <option value="1">ReflectorB</option>
            <option value="2">ReflectorC</option>
        </InputSelect>
    </div>
    <div class="mt-5">
        <p class="text-light fw-bold">Plugboard:</p>
        <p class="text-light fw-bold mt-2">Add a plug:</p>
        <div class="d-flex">
            <InputText class="form-control" style="width:100px" @bind-Value="plug1" placeholder="A"/>
            <InputText class="form-control" style="width:100px" @bind-Value="plug2" placeholder="B" />
            <button class="btn btn-primary" @onclick="()=>HandlePlugChange(plug1,plug2)">Add</button>
        </div>
        <p class="text-danger">@plugError</p>
        <p class="text-light fw-bold mt-2">Current plugs:</p>
        @if(enigmaService.GetPlugs().Count == 0)
        {
            <p class="text-light">No plugs programmed</p>
        }
        else
        {
            foreach (var plug in enigmaService.GetPlugs())
            {
                <div class="row bg-secondary rounded mt-2" style="width:100px">
                    <p class="text-light fw-bold col-6 pt-2">@plug.Key  @plug.Value</p>
                    <button class="btn col-1" @onclick="()=>enigmaService.RemovePlug(plug.Key,plug.Value)"><i class="bi bi-x-circle-fill text-danger"></i></button>
                </div>
            }
        }
    </div>
</div>
@code {
    int rotar1;
    int rotar1Position;
    int rotar1Notch;

    int rotar2;
    int rotar2Position;
    int rotar2Notch;

    int rotar3;
    int rotar3Position;
    int rotar3Notch;

    string plug1 = "";
    string plug2 = ""; 
    string plugError = "";

    int reflector;

    protected override void OnInitialized()
    {
        rotar1 = enigmaService.GetSelectedRotar(0);
        rotar1Position = enigmaService.GetPosition(0);
        rotar1Notch = enigmaService.GetNotch(0);

        rotar2 = enigmaService.GetSelectedRotar(1);
        rotar2Position = enigmaService.GetPosition(1);
        rotar2Notch = enigmaService.GetNotch(1);

        rotar3 = enigmaService.GetSelectedRotar(2);
        rotar3Position = enigmaService.GetPosition(2);
        rotar3Notch = enigmaService.GetNotch(2);

        reflector = enigmaService.GetSelectedReflector();
    }


    private void HandleRotarChange(int selectedValue, int rotar)
    {
        enigmaService.SetRotar(rotar, selectedValue);
        if(rotar == 0)
        {
            rotar1 = selectedValue;
            rotar1Position = enigmaService.GetPosition(rotar);
            rotar1Notch = enigmaService.GetNotch(rotar);            
        }
        else if(rotar == 1)
        {
            rotar2 = selectedValue;
            rotar2Position = enigmaService.GetPosition(rotar);
            rotar2Notch = enigmaService.GetNotch(rotar);
        }
        else if(rotar == 2)
        {
            rotar3 = selectedValue;
            rotar3Position = enigmaService.GetPosition(rotar);
            rotar3Notch = enigmaService.GetNotch(rotar);
        }
    }
    private void HandleRotarPositionChange(int selectedValue, int rotar)
    {
        enigmaService.SetPosition(rotar, selectedValue);
        if (rotar == 0)
        {
            rotar1Position = selectedValue;
        }
        else if (rotar == 1)
        {
            rotar2Position = selectedValue;
        }
        else if (rotar == 2)
        {
            rotar3Position = selectedValue;
        }
    }
    private void HandleRotarNotchChange(int selectedValue,int rotar)
    {
        enigmaService.SetNotch(rotar, selectedValue);
        if(rotar == 0)
        {
            rotar1Notch = selectedValue;
        }
        else if(rotar == 1)
        {
            rotar2Notch = selectedValue;
        }
        else if(rotar == 2)
        {
            rotar3Notch = selectedValue;
        }
    }
    private void HandlePlugChange(string plug1, string plug2)
    {
        char plug1Char = plug1[0];
        char plug2Char = plug2[0];
        plug1Char = char.ToUpper(plug1Char);
        plug2Char = char.ToUpper(plug2Char);
        if (!enigmaService.IsPlugged(plug1Char) && !enigmaService.IsPlugged(plug2Char))
        {
            enigmaService.SetPlug(plug1Char, plug2Char);
            plugError = "";
        }
        else
        {
            plugError = "One or both of the letters are already plugged";
        }

    }
    private void HandleReflectorChange(int selectedValue)
    {
        enigmaService.SetSelectedReflector(selectedValue);
        reflector = selectedValue;
    }

}
